
/* 
  Created on : Apr 23, 2015, 9:21:22 AM
  Author     : joel
*/

@font-face { font-family: slkscr; src: url('slkscr.ttf'); } 

div#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url("board.jpg") no-repeat;
}

div#gameover {
  background-color: black;
  margin: auto;
  color: green;
  font-family: slkscr;
  font-size: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

body {
  background-color: black;
}

td {
  width: 94px;
  height: 94px;
}

table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}

.hit {
  background: url("ship.png") no-repeat center center;
}

.miss {
  background: url("miss.png") no-repeat center center;
}